.title {
    display: flex;
    flex-direction: row;
    margin: 0px 30px 0px 50px;
    flex-wrap: nowrap;
}

.title__div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.title__profile {
    width: 350px;
    height: 350px;
    border-radius: 80%;
    border: 4px solid white;
    box-shadow: 0 4px 8px rgb(77, 8, 167);
    margin-right: 100px;
    margin-top: 50px;
    justify-content: center;
}

.title__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: flex-start;
}

.title__bio {
    font-size: 28px;
    line-height: 1.2;
    color: rgb(77, 8, 167);
    transition: font-size 1s ease;
}

.title__bio:hover {
    transform: scale(1.07);
}

.title__subsection {
    font-family: "Raleway";
    font-size: 26px;
    line-height: 1.2;
    text-align: left;
    margin: 0px 30px 33px 0px;
    transition: font-size 1s ease;
}

.title__subsection:hover {
    transform: scale(1.07);
}

.title__network {
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    padding-left: 0px;
    font-weight: bold;
}

.title__network__item {
    font-size: 22px;
    margin-right: 2rem;
}

.title__network__item a {
    text-decoration: none;
    transition: font-size 0.5s ease;
}

.title__network__item a:hover {
    color: rgb(77, 8, 167);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

/* Mobile */
@media screen and (max-width: 676px) {
    .title {
        display: flex;
        flex-direction: column;
        margin: 0px 30px 0px 20px;
        flex-wrap: nowrap;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .title {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .title__div {
        justify-content: center;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .title__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title__bio:hover {
        transform: scale(1.01);
    }

    .title__subsection:hover {
        transform: scale(1.01);
    }
}