.about {
    display: flex;
    width: 95%;
    margin: 10px 30px 0px 30px;
}

.about__container {
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px 10px 10px 40px;
}

.about__title {
    font-size: 200%;
    transition: all 0.5s ease;
}

.about__title:hover {
    color: black;
    text-shadow: 0 0 10px rgb(77, 8, 167);
    letter-spacing: 2px;
}

.about__paragraph {
    height: auto;
    font-size: 150%;
    transform-origin: left;
    text-align: left;
    margin-bottom: 1em;
    /* Added for spacing */
}

.about__paragraph:hover {
    cursor: pointer;
    transform: scale(1.01);
}

@media screen and (max-width: 676px) {
    .about {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
        height: auto;
        width: 95%;
    }

    .about__container {
        display: flex;
        flex-wrap: nowrap;
    }

    .about__paragraph {
        width: 95%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .about {
        display: flex;
    }

    .about__container {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 60%;
        border-color: white;
    }

    .about__paragraph {
        width: 100%;
    }
}