.formcontato {
    display: flex;
    flex-direction: column;
    margin: 0px 30px 10px 30px;
    padding: 40px 0;
}

.formcontato__contacto {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.formcontato__esquerda {
    flex: 1;
}

.formcontato__img {
    max-width: 80%;
    height: auto;
    align-items: center;
    border: 4px solid white;
    box-shadow: 0 4px 8px rgb(77, 8, 167);
}

.formcontato__text {
    flex: 2;
    color: #000;
    margin-bottom: 15px;
}

.formcontato__title {
    font-size: 1.8rem;
    color: rgb(77, 8, 167);
    font-weight: bold;
    transition: transform 0.3s, box-shadow 0.3s;
    transform-origin: left;
}

.formcontato__title:hover {
    transform: scale(1.3);
    text-shadow: 0 0 10px #000;
}

.formcontato__subtext {
    font-size: 1.2rem;
    color: black;
    transition: transform 0.3s, box-shadow 0.3s;
    transform-origin: left;
}

.formcontato__subtext:hover {
    transform: scale(1.1);
    text-shadow: 0 0 10px #000;
}

.formcontato__form {
    padding: 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.formcontato__input,
.formcontato__textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    /* Ensure padding doesn't overflow width */
}

.formcontato__input:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
}

.formcontato__textarea:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
}

.formcontato__botao {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    border: 2px solid #000;
    padding: 10px 20px;
    background-color: rgb(77, 8, 167);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    cursor: pointer;
}

.formcontato__botao:hover {
    color: #000;
    background-color: rgba(77, 8, 167, 0.459);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    transform: translateY(-3px);
}

@media screen and (max-width: 768px) {
    .formcontato {
        margin: 0 10px;
        padding: 20px 0;
    }

    .formcontato__contacto {
        flex-direction: column;
        justify-content: center;
    }

    .formcontato__esquerda,
    .formcontato__img,
    .formcontato__text {
        max-width: 100%;
        margin: 0 auto;
    }

    .formcontato__form {
        padding: 30px;
    }

    .formcontato__input,
    .formcontato__textarea {
        padding: 7px;
    }

    .formcontato__img {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .formcontato {
        margin: 0 10px;
        padding: 20px 0;
    }

    .formcontato__contacto {
        flex-direction: column;
        justify-content: center;
    }

    .formcontato__esquerda,
    .formcontato__img,
    .formcontato__text {
        max-width: 100%;
        margin: 0 auto;
    }

    .formcontato__form {
        padding: 20px;
    }

    .formcontato__input,
    .formcontato__textarea {
        padding: 8px;
    }
}