:root{
   --cor-de-fundo: #d3b9f5;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1;
}

ol, ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--cor-de-link);
}

.tudo{
    display: flex;
    flex-direction: column;
}
